<% include header.html %>

<div class='container'>
	<style>
		form { max-width: 280px; margin: 0 auto;
			text-align: center; }
		input { margin-bottom: 8px; }
	</style>
	<form method='post' enctype='multipart/form-data'>
	<h3>Register</h3>
	<input name='name' placeholder='Name' class='form-control' />
	<input name='first_name' placeholder='First Name' class='form-control' />
	<input name='last_name' placeholder='Last Name' class='form-control' />
	<input name='phone' placeholder='Phone Number' class='form-control' />
	<input name='email' placeholder='Email' class='form-control' />
	<input name='password' placeholder='Password' type='password' class='form-control' />
	<button type='submit' class='btn btn-primary btn-block'>Register</button>
	</form>
</div>

<% include footer.html %>